body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32em;
}

.caption {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.heading {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subject {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.logo-text {
  color: #2e2f42;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navigation .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation .link:hover,
.navigation .link:focus {
  color: #404bbf;
}

.address-social {
  font-style: normal;
}

.social .link {
  color: #434455;
  letter-spacing: 0.02em;
}

.social .link:hover,
.social .link:focus {
  color: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.name-list {
  background-color: #ffffff;
}

.footer-box {
  background-color: #2e2f42;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
